.box-loging{
    width: 100%;
    max-width: 120rem;
    height: 80rem;
    margin: auto;
    margin-top: 5%;
    border: 1px solid black;    


    display: grid;
    grid-template-columns: 75rem auto;
}
.box-loging .formulario{
    height: 100%;
    padding: 5rem 11rem;

    display: grid;
    grid-template-columns: repeat(8 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 1rem;
}
.box-loging .logo{
    grid-column: 1/9;
    font-size: 20px;
    font-weight: bold;
}

.box-loging h2{
    grid-column: 1/9;
    color: grey;
    
}
.box-loging .btn-face{
    grid-column: 1/4;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
    
}
.box-loging .btn-face img{
    width: 50;
    height: 30px;
    border-radius: 10px;
}
.box-loging .btn-xing{
    grid-column: 4/6;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(2, 107, 2);
    color: white;
}
.box-loging .btn-xing img{
    width: 50;
    height: 30px;
    border-radius: 10px;
}
.box-loging samp{
    grid-column: 1/9;
    margin-left: 180px;
    margin-top: -30px;
    
}